#title {
  background-color: #ff4c68;
  padding:3% 15%;
}
body {
  font-size: 'Montserrat'
}
h1 {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Montserrat', sans-serif !important;
  font-size: 3.5rem !important;
  line-height: 2.5;
  color: white;
  padding-bottom: 5rem;
  font-weight: bold !important;
}
h2{
  font-family: 'Montserrat-bold',sans-serif !important;
  padding: 7% 15% ;
  font-size: 3rem !important;
  line-height: 2 !important;
}
#features{
  padding: 7% 15% !important;
}
h3{
  font-family: 'Montserrat-Bold', sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: bold !important
}
p{
  color: #8f8f8f
}
.feature-box{
  text-align: center;
  padding: 5% !important;
}
.navbar{
  padding: 0 0 5rem !important;

}
.container-fluid{
  padding : 3% 15%;
}
.navbar-brand {
  font-size: 1.5rem !important;
  font-family: 'Ubuntu-Medium', sans-serif;
  /* font-weight: bold; */4
  color: #fff
}

.nav-link {
  margin: auto !important;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
.nav-item {
  padding: 0 20px;

}
.iphone {

  transform: rotate(20deg) !important;
  width : 60%;
  position: relative;

}
.con{
  padding-bottom: 1.5rem;
  color: #F94747;
}
.con:hover{
  color : #FF0000;


}


/* testimonials */

#testimonials {
  text-align: center;
  background-color: #F94747;
  color : #fff;
  font-family: 'Montserrat-bold',sans-serif !important;
}
.test-dog {
  width: 13%;
  border-radius: 100%;
  margin-bottom: 3% !important;
  padding-right: 10px !important ;
  }

/* press */

#press {
  background-color: #F94747;
  text-align: center;


}
.presss {
  width:13%;
  margin: 15px 15px 50px;

}

#pricing{
  padding :100px;
  /* margin: auto 5rem !important; */
  text-align: center;
}

/* .pricing-col{
  padding:4% 3%;
} */
.card{
  text-align: center;
}

#cta{
  background-color: #F94747;
  padding:3% 15%;
}

.lst {
  font-family: Montserrat-black;
  font-size: 3rem !important;
  text-align: center;
  line-height: 2;
  color: white;
}
.vs{
  font-family: Montserrat-black !important;
}
.social{
  margin: 20px 10px;
}
#footer{

  text-align: center;
  padding: 7% 15%;
}
